@page
@model MediaStream.Pages.ErrorModel
@{Layout="_Layout";}<style>*{color:green;background-color:greenyellow;}.HeaderLogo{filter: hue-rotate(-160deg);}</style><tr><td colspan="2"><h1><span style="font-family:trebuchet ms,helvetica,sans-serif;">>:)</span></h1><p>Mwahaha I'm evil and also green now because I said so.</p></td></tr>