@page
@model MediaStream.Pages.ErrorModel
@{
	Layout = "_Layout";
}
<!--[if lt IE 9]>
<meta http-equiv="refresh" content="0; url=/migration" />
<![endif]-->
<tr>
	<td colspan="2">
		<div>TODO: expand, organize, and rewrite this page. Split the maturity rating system information to a seperate page.<br /><br /><br /></div>
		<div class="homeheader"><span style="font-size: 14px;"><strong>Community Guidelines</strong></span></div>
		<hr />
		<div>The Freestyle Community Guidelines should give you a basic idea of what you should and shouldn't upload to the site.<br /><br />We don't like following a strict set of rules, because we know that context matters and that every case is different. Someone who hasn't done anything harmful may get calls to be punished by other users. Someone who did do something harmful may argue that they "didn't technically break the rules" and that their punishment is unwarranted. So we only really have one major rule: be decent. That's it!<br /><br />In case you're confused about what we mean when we say "be decent", here's a short list of do's and don'ts to help you avoid any unnecessary drama:<br /><br /></div>
		<div class="homeheader"><span style="font-size: 14px;"><strong>The Rules</strong></span></div>
		<hr/>
		<div><strong>1. No Hate Speech</strong></div>
		<div style="margin-bottom: 10px;">We don't care what you believe. If we see you being a bigot, or discriminating against anyone for any reason, then you can get the hell off our site. We will NOT tolerate hate-speech under any circumstance.</div>
		<div><strong>2. Don't harass other people</strong></div>
		<div style="margin-bottom: 10px;">This shouldn't have to be said, but don't insult, offend, or try to start a fight with someone else for no reason.</div>
		<div><strong>3. Don't post links, images or direct other users to harmful content</strong></div>
		<div style="margin-bottom: 10px;">That means posting links to sites with malware, videos, and images that may contain harmful content, sensitive information, or basically anything else that will get someone in trouble. Also, refrain from posting anything that encourages harmful acts, such as the Milk Crate Challenge.</div>
		<div><strong>4. Don't abuse/spam the site</strong></div>
		<div style="margin-bottom: 10px;">Nobody likes spam, don't go around trying to find exploits to screw us over, don't go making alternate accounts to break our rules and avoid punishment. It's simple: If what you're about to do is going to hurt us or give us trouble, don't.</div>
		<div><strong>5. Mind your language</strong></div>
		<div style="margin-bottom: 10px;">Let's talk about strong and offensive language here. Some find it funny, others find it repulsive. Our stance is that we will allow it as long as it's not being used to harass, insult, or demean others. If everyone is just having a good time and saying dumb shit without anybody being hurt, great. Just don't take it too far.</div>
		<div><strong>6. Don't spread misinformation</strong></div>
		<div style="margin-bottom: 10px;">We understand that certain topics are not clear. Sometimes there is a lot of confusion about them. However, if you're gonna post potentially divisive content, then you must cite your sources, and your sources have to be something more credible than "I saw it on Facebook" or "I watched a random guy on YouTube talk about it." No, you need actual, factual sources such as scientific studies, journals, and accredited expert opinions. We don't need the site to be flooded with misinformation.</div>
		<div><strong>7. No copyrighted content</strong></div>
		<div style="margin-bottom: 10px;">All content must be original. That means no music videos, no TV clips, no movies, no reuploads from famous YouTubers, and nothing of the sort. Fair Use, remixes, reviews, critiques, and edits are fine as long as the content is transformative enough.</div>
		<div><strong>8. No impersonation</strong></div>
		<div style="margin-bottom: 10px;">Don't make accounts pretending to be someone else or some kind of famous brand; we'll ban you on sight. If you actually are this person/brand, or if you know someone else is pretending to be you on our site, please contact us with proof.</div>
		<div><strong>9. Keep it in your pants</strong></div>
		<div style="margin-bottom: 10px;">This isn't exactly the best place to talk about that kind of stuff, especially when there are people under the age of 18 on this site. So please keep that to a minimum and avoid making other people feel uncomfortable. Again, this isn't meant to be followed word by word. Whenever there's trouble, we'll treat each case differently, and we'll make exceptions if we think what someone did wasn't that much of a big deal. Remember: Just be decent and you'll be fine.</div>
		<div><strong>10. Rate your videos correctly</strong></div>
		<div style="margin-bottom: 10px;">The age rating system is designed to inform people what kind of mature content the video contains, allowing them to make an informed decision on what they watch. Having your content re-rated by a moderator is not a punishment, but please try to rate your content correctly.</div>
		<div><strong>11. No AI Generated Content</strong></div>
		<div>AI-generated content is not allowed here. This includes using tools such as Midjourney, Dall-E, and CrAIyon. There are a few exceptions, mainly when AI can do something that humans can't (such as vocal isolation). But even then, it should be made clear when these tools are being used to avoid confusion. Bottom line: We want to keep the focus on art created by people and not have the site flooded with computer-generated content.<br /><br /></div>
		<div>That's it, really. All you have to do is follow the few rules we have, and you won't get in trouble.<br /><br /></div>
		<div class="homeheader"><span style="font-size: 14px;"><strong>How We Enforce These Guidelines</strong></span></div>
		<hr />
		<div>Okay, this one is more about us than you.<br /><br /></div>
		<div><strong>1. </strong>If we find out you're doing something that we think is reprehensible, we'll give you a fair warning. We'll tell you what you did, and we'll kindly ask you to stop.<br /><br /></div>
		<div><strong>2. </strong>Depending on how frequent our warnings are and/or if we feel you're not willing to follow our rules, we will suspend your account for a certain period of time. This may range from a day to a week, depending on the gravity of the situation.<br /><br /></div>
		<div><strong>3. </strong>If you continue to ignore our warnings, have already been suspended several times, and/or don't show any willingness to follow our rules or to respect our community, we will ban your account permanently. Please note that we reserve the right to terminate an account immediately for any reason we see fit, especially if we believe the account poses a significant threat to our community and site.<br /><br /></div>
		<div><strong>4. </strong>We're aware that some people will bend the rules around their own interpretation to use them against us. That will not happen here. We know that people will try to lawyer their way around our rules to either get us to punish someone else or to avoid taking responsibility for their own actions. This isn't a courthouse, we just want a nice community.<br /><br /></div>
	</td>
</tr>