@page
@model MediaStream.Pages.migrationModel
@{
	Layout = "_Layout";
}
<style>
	td{
		font-size: 13px;
	}
</style>
<tr>
	<td>
		<h1><span style="font-family:trebuchet ms,helvetica,sans-serif;">:(</span></h1>

		<p style="padding-right: 10px;">We&#39;re sorry, your browser is incompatible with Freestyle. Please update your browser to one of the following.</p>
	</td>
	<td style="width: 400px;">
		<div>
			<table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
				<tbody>
					<tr>
						<td style="text-align: center; width: 20%;">Chromium</td>
						<td style="text-align: center; width: 20%;">Firefox</td>
						<td style="text-align: center; width: 20%;">Microsoft Edge</td>
						<td style="text-align: center; width: 20%;">Opera</td>
						<td style="text-align: center; width: 20%;">Internet Explorer</td>
					</tr>
					<tr>
						<td style="text-align: center; width: 20%;"><img alt="" src="~/img/chrome.png" style="width: 64px; height: 64px;" /></td>
						<td style="text-align: center; width: 20%;"><img alt="" src="~/img/firefox.png" style="text-align: center; width: 64px; height: 64px;" /></td>
						<td style="text-align: center; width: 20%;"><img alt="" src="~/img/edge.png" style="text-align: center; width: 64px; height: 64px;" /></td>
						<td style="text-align: center; width: 20%;"><img alt="" src="~/img/opera.png" style="text-align: center; width: 64px; height: 64px;" /></td>
						<td style="text-align: center; width: 20%;"><img alt="" src="~/img/ie.png" style="text-align: center; width: 64px; height: 64px;" /></td>
					</tr>
					<tr>
						<td style="text-align: center; width: 20%;">31+</td>
						<td style="text-align: center; width: 20%;">50+</td>
						<td style="text-align: center; width: 20%;">Any</td>
						<td style="text-align: center; width: 20%;">16+</td>
						<td style="text-align: center; width: 20%;">11</td>
					</tr>
				</tbody>
			</table>
		</div>
	</td>
</tr>