@page
@model MediaStream.Pages.unauthorizedModel
@{
	Layout = "_Layout";
}
<!--[if lt IE 9]>
<meta http-equiv="refresh" content="0; url=/migration" />
<![endif]-->
<tr>
	<td colspan="2">
		<h1><span style="font-family:trebuchet ms,helvetica,sans-serif;">:(</span></h1>

		<p>We&#39;re sorry, there was a problem with authentication. Please try again later.</p>
	</td>
</tr>